#box {
    width: 100px;
    height: 100px;
    background-color: purple;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#content {
    width: 100%;
    height: 100%;
    background-color: sandybrown;
}