* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 4fr;
    grid-template-areas: "headline headline student-picture"
                         "student-quote student-quote student-picture"
                         "profile profile contact"
                         "experience experience experience";

    gap: 20px;
}

h1 {
    grid-area: headline
}

#student-picture {
    grid-area: student-picture;
}

#student-quote {
    grid-area: student-quote;
}

#student-profile {
    grid-area: profile;
}

#student-contact {
    grid-area: contact;
}

#experience-grid {
    grid-area: experience;
    display: grid;
}





